a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0.2em solid gray;
  margin-bottom: 4em;
  border-radius: 0.2em;
}

.photos {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 480px;
  height: 400px;
  margin: 0.1rem;
}

img:hover {
  width: 500px;
  height: 500px;
  border: 1em solid gainsboro;
  animation: tada;
  animation-duration: 15s;
}
